html, body {
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
}

body {
    background-color: #646464;
    transform:scale(1);
    margin: 0 auto;
    width: 1024px;
    height: 600px;
    transform-origin:top center;
    z-index: 0;
}


#stdio {
    position: absolute;
    left: 4px;
    right: 4px;
    top: 30px;
    z-index: 0;
}

#web {
    width: 600px;
    //height: 100%;
height: 600px;
    top: 35px;
    right : 10px;
    border: 2px blue solid;
    position: absolute;
    z-index: 1;
}

#canvas {
    border: 2px red solid;
    width:320px;
    height:200px;
    top: 40px;
    right : 15px;
    position: absolute;
    z-index: 2;
}

.xterm-viewport { overflow: hidden !important; height: 100%; }

button {
    position: relative;
    bottom: 0px;
    top: -4px;
}
img {
    position: relative;
    bottom: 0px;
    top: 2px;

}

